@import url("https://fonts.googleapis.com/css2?family=Belleza&family=Inter:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
}

:root {
  --colorHeaderFooter: #2a2a2a;
  --corPrimaria: #fed001;
  --padraoColor: #fafafa;
  --corFundoEscola: #003464;
}

html {
  overflow-x: hidden;
  font: 400 62.5% "Inter", sans-serif;
}

p,
a {
  font-size: 1.6rem;
}
.principal {
  width: 100%;
}

.cabecalho {
  background-color: var(--colorHeaderFooter);
  display: flex;
  padding: 2rem 0;
  justify-content: space-around;
  align-items: center;
}

.container-fixed {
  position: fixed;
  width: 100%;
}

.cabecalho__logo {
  background-image: url(./imagens/logoAprenser.png);
  background-repeat: no-repeat;
  overflow: hidden;
  width: 15vw;
  height: 12vh;
}

.header__list {
  display: flex;
  list-style-type: none;
  font-size: 1.2rem;
  gap: 1rem;
}

.menu__list-item {
  flex-grow: 1;
  font-size: 1.6rem;
  color: var(--corPrimaria);
  list-style-type: none;
  flex-direction: column;
  text-transform: uppercase;
}

.menu__cabecalho a {
  color: var(--colorMenu);
  text-decoration: none;
  border: solid 1px var(--corPrimaria);
  padding: 0.75em 1.15em;
}

.menu__cabecalho a:hover {
  background-color: #0b0b0bf5;
}

/* Conteudo */
.detalhe {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: linear-gradient(to top, #fed001, #fff);
  width: 100%;
}

.imagem__detalhe {
  background-image: url(./imagens/HeroImage.png);
  width: 140rem;
  height: 63rem;
  background-repeat: no-repeat;
  margin-top: 15rem;
}

.titulo__detalhe {
  font-size: 5rem;
  margin: 2rem 2rem 0 8rem;
  padding: 2rem;
}

.upper {
  text-transform: uppercase;
}

.btn__saibaMais {
  width: 20rem;
  margin: 2rem 2rem 0 10rem;
  padding: 1.7rem;
  background-color: var(--corPrimaria);
  font-size: 1.8rem;
  cursor: pointer;
}

/*Principais cursos*/

.titulo__curso {
  text-align: center;
  padding: 5rem 0;
  font-size: 4rem;
}

.flex-item h3 {
  font-size: 2.4rem;
  line-height: 1.5;
  padding: 2rem 0;
}

.flex-item p {
  font-size: 1.8rem;
  line-height: 1.5;
}

.flex {
  display: flex;
  margin: auto;
  gap: 2rem;
  align-content: space-between;
  justify-content: center;
}

.flex-item {
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
}

.flex-item img {
  display: block;
  width: 100%;
}

.Cursos__container {
  background-color: var(--padraoColor);
}

.info__destaque {
  width: 34rem;
  height: 23rem;
  padding: 1rem 1.25rem;
}

.info__destaque h2 {
  font-size: 2rem;
}

.btn__cursos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 7rem 0;
}

.info__btnCursos {
  width: 20rem;
  padding: 1.7rem;
  background-color: var(--corPrimaria);
  font-size: 1.8rem;
  cursor: pointer;
}
/*Info Escola*/

.info__escola {
  display: flex;
  gap: 1rem;
  background-color: var(--corFundoEscola);
  color: var(--padraoColor);
  margin-bottom: 1rem;
}

.img__infoEscola {
  margin: 5rem 0 0 5rem;
  background-image: url(./imagens/nossa-escola.png);
  background-repeat: no-repeat;
  width: 250rem;
  height: 50rem;
}

.escola_title {
  font-size: 3.2rem;
  margin: 6rem 2rem;
}

.escola_contet p {
  line-height: 1.5;
  font-size: 1.6rem;
  width: 50rem;
  padding: 0 2rem;
}

/*Maps*/
.mapa {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mapa h1 {
  text-align: center;
  padding: 4rem;
  font-size: 6rem;
}

.info__contatos {
  display: flex;
  align-items: center;
  flex-direction: column;
  font: normal 400 1.8rem "Inter", sans-serif;
  padding: 3rem 6rem;
  width: 90%;
}
.contato_endereco {
  text-align: center;
  width: 20%;
  border: 1px solid #2a2a2a;
  padding: 1rem;
  border-radius: 0.8rem;
}

/* Rodapé */
.rodape {
  padding: 2rem 3rem;
  background-color: var(--colorHeaderFooter);
  color: var(--padraoColor);
  font-size: 1.8rem;
  text-align: center;
}
